/////////////////////////// COLORS 
$midnight: #00010c
$chalk: #FBF7F5
$gum:	#ff77bc

//////////////////////// FONTS
@font-face // main sans-serif font
  font-family: "Urbanist"
  src: url("assets/Urbanist-VariableFont_wght.ttf") format("truetype-variations")
  font-weight: 100 900

$urbanist: "Urbanist", sans-serif

//////////////////////////////////////////////
header
  width: 100%
  margin: 0 auto
  overflow: hidden

.header-box
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  overflow: hidden
  background: $chalk
  a
    color: $midnight

// navigation menu
.AD-logo
  height: 3rem
  width: auto
  margin: 0.5rem 1rem 0.5rem 10rem
  justify-content: left
  align-content: center
  img
    height: 100%
    width: auto

.AD-logo-index
  height: 4rem
  width: auto
  margin: 0.5rem 1rem
  justify-content: center
  align-content: center
  img
    height: 100%
    width: auto

.nav-menu
    justify-content: center
    align-content: center

.hidden-menu
  left: 0
  padding: 0 8rem

.menu-items
  positiona: absolute
  padding: 1rem 0
  z-index: 9999
  display: flex
  align-items: center
  list-style: none
  gap: 0.5rem
  white-space: nowrap
  right: 0
  a
    font-family: $urbanist
    text-transform: uppercase
    color: $midnight
    font-weight: 800
    text-decoration: none
    font-size: 1rem
    padding: 0.5rem
    &:hover
      color: $gum

.social
  width: 1.4rem
  height: 1.4rem
  vertical-align: middle
  justify-content: center 
  align-content: center
    
.menu-toggle 
  display: none



// animation for mobile menu / slide in & out
@keyframes slide-left-to-right 
    from 
      transform: translateX(100%) 
    to 
      transform: translateX(0)
@keyframes slide-right-to-left 
  from 
    transform: translateX(0) 
  to 
    transform: translateX(100%)

@media (max-width: 768px) 
  * 
    margin: 0
    padding: 0
    box-sizing: border-box
  body.menu-open 
    overflow: hidden
  .header-box
    width: 100%
    position: relative
    z-index: 1000
  .AD-logo-index  
      width: auto
      height: 1.7rem
  .hidden-menu, .menu-items
    display: none
  .nav-menu
    display: flex
    height: 1.8rem
    max-width: 100%
    justify-content: space-evenly
  .toggle-box, .menu-toggle
    display: flex
    justify-content: center
    align-content: center
    max-width: 3rem
    max-height: 3rem
    margin-right: 1rem
    overflow: hidden
    border: none
    background: none

  .menu-mob-open
    display: flex
    cursor: pointer
    color: $chalk
    padding: 0.5rem 0
    width: 80%
    font-weight: 600
    background: $midnight
    border: none
  .menu-mob-close
    display: none

  

//////////////////////////////////////////////////////
// FOOTER'S GENERAL DESKTOP DISPLAY
footer
  margin: 0
  max-width: 100%
  padding: 3rem 0 
  font-family: $urbanist
  color: $chalk
  background: $midnight
  line-height: 1.75rem
  .thanks-footer
    margin: 4rem 0
    font-size: 1.1rem
    text-align: center
  .footer-wrap
    display: flex
    flex-direction: row
    justify-content: space-around
    margin: 1rem 2rem
    align-content: center
    .rights-footer
      display: flex
      flex-direction: column
      text-align: center
      justify-content: center
      align-content: center
      font-size: 0.8rem
      a
        color: $chalk
        text-decoration: none
        &:hover
          color: $gum
      .cclicense
        justify-content: center
        align-content: center
        width: 1.5rem 
    .contact-icons-wrap // all social icons
      margin: 0
      max-height: 3rem
      display: flex
      justify-content: center
      align-content: center
      gap: 1.5rem
      .social-icon
        width: 2.5rem
        height: auto
        object-fit: contain
        color: $chalk
        align-content: center
        a
          color: $chalk
          &:hover
            color: $gum

//MOBILE DISPLAY FOR FOOTER
@media (max-width: 768px) 
  footer
    margin: 0
    width: 100%
    padding: 1rem 1rem 3rem 1rem
    display: flex
    flex-direction: column
    line-height: 1.3rem
    justify-content: center
    align-content: center
    .thanks-footer
      margin: 1rem 0
      font-size: 1rem
      text-align: center
      padding: 1rem 0
    .footer-wrap
      flex-direction: column
      justify-content: center
      align-content: center
      .rights-footer
        text-align: center
      .cclicense
        width: 1.5rem 
        margin: 0
    .contact-items // all social icons
      margin: 0
      padding: 1rem 0
      flex-direction: row
      justify-content: center
      align-content: center
      gap: 1.5rem
      .social-icon
        width: 2rem
        height: auto
        object-fit: contain
        align-content: center

//////////////////////////////////////////

.header-proj
  width: 100%
  position: absolute

.header-main
  background: $midnight
  color: $chalk
  a
    color:$chalk