/////////////////////////// COLORS 
$midnight: #00010c
$chalk: #FBF7F5
$gum:	#ff77bc
$whitey: #fffffb

//////////////////////// FONTS
@font-face // main sans-serif font
  font-family: "Urbanist"
  src: url("assets/Urbanist-VariableFont_wght.ttf") format("truetype-variations")
  font-weight: 100 900

$urbanist: "Urbanist", sans-serif

//////////////////////////////////////////////
header
  width: 100%
  margin: 0 auto
  overflow: hidden
.header-box
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  overflow: hidden
  background: $whitey
  a
    color: $midnight
.ade-logo-box
  height: 2.8rem
  width: auto
  margin: 0.8rem 2rem 0.8rem 20rem
  justify-content: center
  align-content: center
  .adelina-logo-svg
    color: $midnight
.nav-menu // NAVIGATION MENU
  justify-content: end
  align-content: center
.menu-items
  positiona: absolute
  padding: 1rem 0.5rem
  z-index: 9999
  display: flex
  align-items: center
  list-style: none
  white-space: nowrap
  right: 0
  a
    font-family: $urbanist
    text-transform: uppercase
    color: $midnight
    font-weight: 800
    text-decoration: none
    font-size: 1rem
    padding: 0.5rem
    &:hover
      color: $gum
  .social // MENU'S SOCIAL ICONS
    width: 1.4rem
    height: 1.4rem
    vertical-align: middle
    justify-content: center 
    align-content: center

.toggle-box, .mobile-menu
  display: none

// HEADER & MENU MOBILE DISPLAY
@media (max-width: 768px) 
  * 
    margin: 0
    padding: 0
    box-sizing: border-box
  .header-box
    width: 100%
    position: relative
    z-index: 1000
  .ade-logo-box
    width: auto
    height: 2rem
  .hidden-menu, .menu-items // ITEMS IN NAV UL HIDDEN
    display: none
  .nav-menu
    display: flex
    height: 1.8rem
    max-width: 100%
    justify-content: space-evenly
  .toggle-box
    display: flex
    justify-content: center
    align-content: center
    max-width: 3rem
    max-height: 3rem
    margin-right: 1rem
    overflow: hidden
    border: none
    background: none
  .menu-mob-open
    display: flex
    cursor: pointer
    color: $midnight
    padding: 0.5rem 0
    width: 80%
    font-weight: 600
    background: $gum
    border: none

//////////////////////////////////////////////////////
// FOOTER'S GENERAL DESKTOP DISPLAY
footer
  margin: 0
  max-width: 100%
  padding: 1rem 0 
  font-family: $urbanist
  color: $whitey
  background: $midnight
  line-height: 1.75rem
  .thanks-footer
    margin: 1rem 0
    font-size: 1.1rem
    text-align: center
  .footer-wrap
    display: flex
    flex-direction: row
    margin: 3rem auto
    width: 90%
    align-content: center
    justify-content: space-between
    .rights-footer
      display: flex
      flex-direction: column
      text-align: center
      justify-content: center
      align-content: center
      font-size: 0.8rem
      a
        color: $whitey
        text-decoration: none
        &:hover
          color: $gum
      .cclicense
        justify-content: center
        align-content: center
        width: 1.3rem 
    .rights-footer-mobile
        display: none
  .contact-icons-wrap // SOCIAL MEDIA ICONS
    margin: 0 
    display: flex
    flex-direction: row
    justify-content: center
    align-content: center
    .social-icon
      width: 2rem
      height: 2rem
      margin: 1.5rem
      object-fit: contain
      align-content: center
      svg
        color: $whitey
        &:hover
          color: $gum

// FOOTER'S MOBILE DISPLAY 
@media (max-width: 768px) 
  footer
    margin: 0
    width: 100%
    padding: 1rem 1rem 3rem 1rem
    display: flex
    flex-direction: column
    line-height: 1.3rem
    justify-content: center
    align-content: center
    .thanks-footer
      margin: 0
      font-size: 1rem
      text-align: center
      padding: 0
    .footer-wrap
      flex-direction: column
      justify-content: center
      align-content: center
      .rights-footer
        display: none
      .rights-footer-mobile
        display: flex
        flex-direction: column
        text-align: center
        justify-content: center
        align-content: center
        font-size: 0.8rem
        margin: 1rem 0 0 0
        a
          color: $whitey
          text-decoration: none
          &:hover
            color: $gum
        svg
            justify-content: center
            align-content: center
            width: 1.2rem 
    .social-icon
      width: 1.7rem
      height: 1.7rem
      object-fit: contain
      align-content: center
      svg
        color: $gum

//////////////////////////////////////////

.header-proj
  width: 100%
  position: absolute

.header-main
  background: $midnight
  color: $chalk
  a
    color:$chalk