/////////////////////////// COLORS 
$midnight: #000004
$whitey: #fffffb

//////////////////////// FONTS
$gopher: "Gopher", sans-serif
@font-face // REGULAR
  font-family: "Gopher"
  src: url("../assets/Gopher-Regular.woff2") format("woff2")
  font-weight: 400
  font-style: normal
  font-display: swap
@font-face // BOLD
  font-family: "Gopher" 
  src: url("../assets/Gopher-Bold.woff2") format("woff2")
  font-weight: 700
  font-style: normal
  font-display: swap
@font-face // BLACK
  font-family: "Gopher"
  src: url("../assets/Gopher-Black.woff2") format("woff2")
  font-weight: 900
  font-style: normal
  font-display: swap
@font-face // ITALIC
  font-family: "Gopher"
  src: url("../assets/Gopher-Italic.woff2") format("woff2")
  font-weight: 400  
  font-style: italic
  font-display: swap
@font-face // HAIRLINE
  font-family: "Gopher"
  src: url("../assets/Gopher-Hairline.woff2") format("woff2")
  font-weight: 400  
  font-style: normal
  font-display: swap

////////////////////////////// PROJECTS STYLES
// TEXTS
.work-sec-title
  font-family: $gopher
  text-align: left
  font-size: 3rem
.work-text
  font-family: $gopher
  font-size: 1.3rem
  line-height: 2
  text-align: left
@media (max-width: 768px) 
  .work-sec-title
    font-size: 2.8rem
  .work-text
    font-size: 1.1rem
    line-height: 1.6

/////////////////////////////////////////////////
// CARADZOGLU - DESKTOP DISPLAY
.carad-main-wrap
  margin: 1rem auto
  max-width: 60%
  display: flex
  flex-direction: column
  align-content: center
  justify-content: center
.carad-intro
  display: flex
  flex-direction: row
  gap: 1.5rem
  img 
    height: 100%
  .carad-intro-text
    flex-direction: column
.carad-logos
  margin: 1rem auto
  align-content: center
  justify-content: center
  img
    width: 33%
.carad-typo
  margin: 1rem auto
  align-content: center
  justify-content: center
// CARADZOGLU - MOBILE DISPLAY 
@media (max-width: 768px)
  .carad-main-wrap
    margin: 0
    max-width: 100%
    display: flex
    flex-direction: column
  .carad-intro
    display: flex
    flex-direction: column
    gap: 1.5rem
    img 
      width: 100%
    .carad-intro-text
      width: 90%
      margin: 0 0.5rem
      flex-direction: column
  .carad-logos
    margin: 1rem auto
    align-content: center
    justify-content: center
    img
      width: 33%
  .carad-typo
    margin: 1rem auto
    align-content: center
    justify-content: center

/////////////////////////////////////////////////
// CORLEONE ERCOLINI - DESKTOP DISPLAY
.CE-presentation 
  margin: 0
  max-width: 100%
  height: 100%
  img
    width: 100%
    height: auto
.CE-about-wrap
  width: 55%
  margin: 2rem auto
  gap: 1.5rem 
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
.CE-logo-wrap // CORLEONE ERCOLINI LOGO SECTION
  margin: 2rem 0
  display: flex
  flex-direction: column
  width: 100%
  align-items: center
  justify-items: center
  background: $whitey
  color: $midnight
  h2
    padding: 1rem 0 0 0
.CE-logos-text
  width: 50%
  margin: 1rem auto
  gap: 1.5rem 
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
.CE-logos2
  display: flex
  flex-direction: row
  justify-items: center
  margin: 1rem
  gap: 1rem
  img
    width: 25rem
    height: auto
.CE-colors-wrap
  width: 60%
  margin: 2rem auto
  gap: 1.5rem 
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  .CE-colors-img
    width: 50rem
    height: auto
.CE-colors-text
  width: 90%
  margin: 2rem auto
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  gap: 1.5rem 
.CE-typo
  margin: 2rem 0
  display: flex
  flex-direction: column
  text-align: left
  img
    width: 75rem
    height: auto
    margin: 0.5rem
    align-self: center
.CE-typo-text
  width: 50%
  margin: 2rem auto
  gap: 1.5rem 
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
.CE-mail
  width: 40rem
  margin: 2rem auto
  gap: 1.5rem 
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  p
    margin: 2rem 0 0 0
    font-family: $gopher
    font-size: 2rem
    text-align: center
    font-weight: 600
  .CE-mail-img
    width: 40rem
    height: auto
    margin: 0.5rem
    justify-self: center
    align-self: center
// ?????????????????????
.btn-about-proj-box // VIEW MORE ABOUT THE BRAND BUTTON
  display: flex
  justify-content: center
  align-content: center
  margin: 2rem auto
  width: 30%
  height: auto
  .btn-about-proj
    cursor: pointer
    margin: 1rem auto
    padding: 1rem 2rem
    font-size: 1rem
    font-weight: 700
    border-radius: 2rem
    border: none
    color: $midnight
    background: $whitey
    &:hover
      transition: color 0.3s ease
      color: $whitey
      background: $midnight
.CE-ending
  width: 100%
  background: $whitey
  color: $midnight
// CORLEONE ERCOLINI MOBILE DISPLAY 
@media (max-width: 768px)
  .CE-full-wrap
    max-width: 100%
    align-content: center
    justify-content: center 
  .CE-presentation
    margin: 0
    width: 100%
  .CE-about-wrap
    flex-direction: column
    width: 90%
    margin: 1rem auto
    align-content: center
    justify-content: center
    gap: 0
  .CE-logo-wrap // LOGO SECTION
    margin: 1rem auto
    .CE-logos-text
      flex-direction: column
      width: 90%
      gap: 0
      margin: 0
    .CE-logos2
      justify-content: center
      align-content: center
      gap: 0.5
      img
        width: 50%
        height: auto
  .CE-colors-wrap
    width: 90%
    margin: 1rem auto
    justify-content: center 
    align-content: center
    gap: 0.5
    img
      max-width: 100%
      margin: 0
      align-self: center
    .CE-colors-text
      flex-direction: column
      width: 100%
      align-self: center
      margin: 0.5rem 0
  .CE-typo
    margin: 1rem auto
    width: 90%
    align-content: center
    justify-content: center
    img
      width: 100%
      margin: 1rem 0
  .CE-typo-text
    margin: 0.5rem 0
    flex-direction: column
    width: 100%
    gap: 0.3
    align-content: center
    justify-content: center
  .CE-mail
    margin: 1rem auto
    width: 90%
    p
      font-size: 1.2rem
    .CE-mail-img
      width: 70%
      margin: 0.5rem auto

// DISCLAIMER TEXT
.work-disclaimer
  width: 40%
  margin: 0 auto
  padding: 3rem
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  font-family: $gopher
  text-align: left
  summary
    cursor: pointer
    &:hover
      opacity: 0.8
  p
    margin: 0.5rem auto
    font-size: 0.8rem
    line-height: 1.5rem
@media (max-width: 768px)
  .work-disclaimer
    margin: auto
    width: 90%
    p
     line-height: 1.2rem

//////////////////////////////////////////////
// CHANGE PROJECT BUTTONS NEXT & PREVIOUS
.change-btn-wrap
  display: flex
  flex-direction: row
  width: 100%
  margin: 3rem auto
  justify-content: space-between
  align-content: center
  .change-btn
    cursor: pointer
    font-family: $gopher
    font-size: 0.9rem
    background: none
    border: none
    a
      color: $whitey
      text-decoration: none 
    &:hover
      opacity: 0.9
@media (max-width: 768px) 
  .change-btn-wrap
    margin: 1.5rem auto
    


