/////////////////////////// COLORS 
$midnight: #080101
$offwhite: #FAF9F6
$lavender: #9185b1
$light-lavender: #9185b1b5
$purple: #2a023d

//////////////////////// FONTS

@font-face // main sans-serif font
  font-family: "Urbanist"
  src: url("assets/Urbanist-VariableFont_wght.ttf") format("truetype-variations")
  font-weight: 100 900

@font-face // serif font
  font-family: "Prata", serif
  src: url("assets/Prata-Regular.ttf") format("truetype")

@font-face // cursive font
  font-family: "Oooh Baby", cursive
  src: url("assets/OoohBaby-Regular.ttf") format("truetype")

$urbanist: "Urbanist", sans-serif
$prata: "Prata", serif
$ooohbaby: "Oooh Baby", cursive

////////////////////////// PROJECTS STYLES

// texts
.work-sec-title
  font-family: $urbanist
  text-align: left
  font-size: 3rem

.work-text
  font-family: $urbanist
  font-size: 1.3rem
  line-height: 2rem
  text-align: left

// corleone-ercolini project styles
.CE-presentation // with image as a background
  margin: 5rem 0 1rem 0
  max-width: 100%
  height: 100%
  img
    width: 100%
    height: auto
  @media (max-width: 767px)
    font-size: 2.5rem
    padding-top: 30vh


.CE-about
  width: 750px
  margin: 2rem auto
  gap: 1.5rem 
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  @media (max-width: 767px)
    display: flex
    flex-direction: column
    align-items: stretch
    gap: 1rem
    max-width: 95%

.CE-logo // section logo
  margin: 2rem 0
  display: flex
  flex-direction: column
  width: 100%
  align-items: center
  justify-items: center
  background: $offwhite
  color: $midnight

.CE-logos-text
  width: 750px
  margin: 2rem auto
  gap: 1.5rem 
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  @media (max-width: 767px)
    display: block
    max-width: 95%

.CE-logos2
  display: flex
  flex-direction: row
  justify-items: center
  margin: 1rem
  gap: 1rem
  img
    width: 350px
    height: auto
  @media screen and (max-width: 767px) 
    width: 95%
    height: auto
    justify-items: center
    img
      width: auto
      height: 200px

.CE-colors
  width: 800px
  margin: 2rem auto
  gap: 1.5rem 
  display: flex
  flex-direction: column
  justify-items: center
  align-content: center
  .work-colors-img
    width: 600px
    height: auto

.CE-colors-text
  width: 750px
  margin: 2rem auto
  gap: 1.5rem 
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  @media (max-width: 767px)
    display: block
    max-width: 90%

.CE-typo
  margin: 2rem 0
  display: flex
  flex-direction: column
  text-align: left
  img
    width: 1200px
    height: auto
    margin: 0.5rem
    align-self: center
  @media (max-width: 767px)
    margin: 1rem 0
    width: 95%
    img
      justify-self: left
      width: 90%
      height: auto
      margin: 0

.CE-typo-text
  width: 750px
  margin: 2rem auto
  gap: 1.5rem 
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

.CE-mail
  width: 800px
  margin: 2rem auto
  gap: 1.5rem 
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  h4
    font-family: $urbanist
    font-size: 2rem
  .CE-mail-img
    width: 500px
    height: auto
    margin: 1rem
    justify-self: center
    align-self: center
  @media (max-width: 767px)
    display: block
    max-width: 95%
    .CE-mail-img
      width: 100%
      height: auto

.btn-viewMore
  display: flex
  justify-content: center
  align-content: center
  margin: 2rem auto

.btn-viewBrand
  cursor: pointer
  margin: 1rem auto
  padding: 1rem 2rem
  font-size: 1rem
  font-weight: 700
  border-radius: 2rem
  background: $light-lavender
  color: $offwhite
  &:hover
    background: $lavender
    color: $purple
  @media (max-width: 767px)
    margin: 0
    font-size: 0.9rem
    padding: 0.5rem 1rem

// project disclaimer text
.work-disclaimer
  width: 700px
  margin: 2rem auto
  gap: 1.5rem 
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  font-family: $urbanist
  p
    font-size: 0.7rem
    line-height: 1.5rem

// buttons to move between works
.change-btn-wrap
  display: flex
  flex-direction: row
  width: 100vw
  margin: 5rem 0.5rem
  justify-content: space-around
  align-content: center
  @media (max-width: 767px)
    display: block
    margin: 1rem auto

.change-btn
  cursor: pointer
  font-size: 1.2rem
  background: none
  border: none
  a
    font-family: $urbanist
    text-decoration: none 
    color: $offwhite
    &:hover
      color: $lavender
  a::before
      content: ''
      position: absolute
      transform: scaleX(0)
      height: 1px
      bottom: -2px
      left: 0
      transform-origin: bottom left
      transition: transform 0.3s ease-out
  a:hover::before 
        transform: scaleX(1)
        color: $purple
  @media (max-width: 767px)
    margin: 1rem 0.2rem
    padding: 0.5rem 1rem
    font-size: 0.9rem

