// files for special css 
@use 'projects'  
@use 'menu' 

/////////////////////////// COLORS 
$midnight: #000004
$whitey: #fffffb
$rasp: #E30B5D
$blue: #001DD9
$blues: #488ff3
$gum:	#ff77bc

/////////////////////////////////////////
$gopher: "Gopher", sans-serif
@font-face // REGULAR
  font-family: "Gopher"
  src: url("../assets/Gopher-Regular.woff2") format("woff2")
  font-weight: 400
  font-style: normal
  font-display: swap
@font-face // MEDIUM
  font-family: "Gopher"
  src: url("../assets/Gopher-Medium.woff2") format("woff2")
  font-weight: 500
  font-style: normal
  font-display: swap
@font-face // BOLD
  font-family: "Gopher" 
  src: url("../assets/Gopher-Bold.woff2") format("woff2")
  font-weight: 700
  font-style: normal
  font-display: swap
@font-face // BLACK
  font-family: "Gopher"
  src: url("../assets/Gopher-Black.woff2") format("woff2")
  font-weight: 900
  font-style: normal
  font-display: swap
@font-face // ITALIC
  font-family: "Gopher"
  src: url("../assets/Gopher-Italic.woff2") format("woff2")
  font-weight: 400  
  font-style: italic
  font-display: swap

///////////////////////////////////////// GENERAL DISPLAY
*
  margin: 0 auto

  @media (max-width: 768px)
    margin: 0

html
  scroll-behavior: smooth

body
  margin: 0 auto
  padding: 0

.main-page
  margin: 0 auto
  background: $midnight
  color: $whitey
  overflow-x: hidden
  max-width: 100%
  font-family: $gopher

/////////////////////////////////////////
// WORK SECTION - DISPLAY PROJECTS
.work-wrap // WORK GRID DISPLAY
  display: grid
  max-width: 100%
  margin: 2rem 3rem
  grid-template-columns: 1fr 1fr
  grid-template-rows: auto
  justify-items: center
  align-items: center
.work-card // EACH PROJECT CARD
  display: flex
  flex-direction: column
  position: relative
  width: 95%
  justify-content: center
  align-content: center
  .work-box // WORK PREVIEW CARD BOX
    position: relative
    justify-content: center
    align-content: center
    width: 100%
    height: auto
    transition: 0.5s ease
    a // VIEW PROJECT LINK TEXT
      color: $blue
      font-size: 4rem
      font-weight: 700
      text-align: center
      text-decoration: none
  .work-box::before // WITH HOVER
    content: ""
    position: absolute
    inset: -1rem
    z-index: 0
  .work-box:hover img
    opacity: 0.5
  .work-box:hover .show-text
    opacity: 1
  .work-img // PROJECT IMAGE
    width: 100%
    height: auto
    display: block 
  .show-text // HOVER TEXT ON EACH IMAGE
    justify-content: center
    align-content: center
    transition: 0.5s ease
    opacity: 0
    position: absolute
    z-index: 200
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)
.work-titles // PROJECT'S NAME & TAG
  margin: 1rem 0
  justify-content: center
  align-content: center
  .work-name
    font-size: 3rem
    font-weight: 700
    text-align: center
    text-transform: uppercase
  .work-tag
    font-family: $gopher
    font-size: 1.5rem
    font-weight: 400
    text-align: center
.view-work-btn // BUTTON FOR MOBILE DISPLAY
  display: none

// MOBILE DISPLAY FOR MAIN INDEX / WORK PROJECTS
@media (max-width: 768px) 
  .work-wrap
    grid-template-columns: 1fr
    grid-auto-rows: auto
    justify-content: center
    align-content: center
    margin: 1rem 0.5rem
    .work-card // EACH PROJECT CARD
      justify-content: center
      align-content: center
      margin: 0 0 1rem 0
      width: 90%
    .work-box // WORK PREVIEW BOX
      justify-content: center
      align-content: center
      height: auto
      margin: 0
      .work-img
        width: 100%
        margin: 0
    .work-titles
      justify-content: center
      align-content: center
      width: 100%
      .work-name
        font-size: 1.5rem
      .work-tag
        font-size: 1rem
  .view-work-btn // VIEW PROJECT BUTTON FOR MOBILE
    display: flex
    margin: 0.8rem auto
    padding: 0.5rem 1rem
    border-radius: 3rem
    background: $gum
    opacity: 1
    font-family: $gopher
    border: none
    cursor: pointer
    text-align: center
    a
      color: $midnight
      font-size: 0.9rem
      font-weight: 700
      text-decoration: none
    &:hover
      opacity: 0.7
  .show-text
    display: none

////////////////////////////////////////////////////
// ABOUT ME SECTION
.about-wrapper
  display: flex
  margin: 0 auto
  max-width: 100%
  background: $whitey
  color: $midnight
  .about-sec
    width: 80%
    display: flex
    text-align: left
    justify-content: left
    align-content: flex-start
  .profile-pic // ABOUT ME - PROFILE PICTURE
    object-fit: contain
    width: auto
    height: 40rem
    margin: 1rem
  .about-text
    margin: 0 auto
    display: flex
    flex-direction: column
    width: 50%
    line-height: 1.8
    font-size: 1.1rem
    text-align: left
    justify-content: left
    align-content: center
    p
      margin: 0
    .highlighted-font
      font-weight: 900
      font-style: italic
  .hola // SUBTITLE FOR ABOUT ME SECTION
    font-size: 4rem
    text-align: left
    justify-content: left
    align-content: center
    margin: 0
.mail-me // CONTACT EMAIL LINK
  margin: 0
  font-size: 1.1rem
  font-weight: 600
  color: $midnight
  text-decoration: none
  &:hover
    color: $blue

// MOBILE DISPLAY FOR ABOUT ME
@media (max-width: 768px) 
  .about-wrapper
    display: flex
    flex-direction: column
    align-items: center
    max-width: 100%
    .about-sec
      width: 100%
      flex-direction: column
      .profile-pic
        width: 100%
        height: auto
        margin: 0
    .about-text
      width: 90%
      margin: 0 auto
      font-size: 1rem
      line-height: 1.6
      margin-bottom: 1rem
      letter-spacing: 0.02rem
      .hola 
        font-size:3rem
        text-align: left
        justify-content: left
        margin: 0

///////////////////////////////////////
// STARTS RESUME SECTION
hr.solid // DECOR DIVIDERS
  border-top: 0.3px solid $blue
  margin: 0.5rem 0
.resume-wrap // MAIN RESUME SECTION WRAPPER
  max-width: 100%
  background: $whitey
  color: $midnight
.resume-layout // DESKTOP VIEW
  width: 50%
  display: flex
  flex-direction: column
  line-height: 1.6

.cv-title // MAIN TITLE TO OPEN RESUME SECTION
  margin: 0 0 0 4rem
  padding-top: 2rem
  font-family: $gopher
  font-size: 4rem
  font-weight: 700
  text-align: left
.cv-subtitle // SUBTITLES FOR EACH RESUME SECTION
  margin: 1rem 0 0.3rem 0
  font-family: $gopher
  font-size: 2.3rem
  font-optical-sizing: auto
  text-align: center

// RESUME - EXPERIENCE SECTION
.experience-title
  font-family: $gopher
  font-size: 2rem
  font-weight: 800
  text-align: left
.experience-job
  font-family: $gopher
  font-size: 1.5rem
  font-weight: 800
  text-align: left
  text-transform: uppercase
.experience-list
  font-family: $gopher
  font-size: 1.1rem
  line-height: 1.7
  list-style-position: inside
.date // DATES FOR EXPERIENCES
  font-size: 1rem
  text-align: left
  justify-content: left
  align-content: flex-start

// SKILLS & STUDIES SECTION
.college
  font-family: $gopher
  margin: 0
  text-align: left
  .school
    font-size: 1.1rem
.courses
  font-family: $gopher
  max-width: 600px
  justify-self: left
  align-self: left
  line-height: 1.8
  margin-left: 0.5rem
  font-size: 1.1rem
  a
    color: black
    text-decoration: none
    &:hover
      color: $blue
.skills
  justify-self: left
  font-family: $gopher
  line-height: 1.8
  margin-left: 0.5rem
  font-size: 1.1rem
  .highlight-skill
    font-weight: 900
    font-size: 1.2rem

// VIEW/DOWNLOAD RESUME BUTTON
.resume-download-btn 
  cursor: pointer
  margin: 1.5rem 0 3rem 0
  padding: 1rem
  background: none
  border-radius: 4rem
  border: none
  background: $blue
  width: 50%
  a
    font-family: $gopher
    font-size: 1.1rem
    color: $whitey
    text-decoration: none
    font-weight: 600
  &:hover
    transition: background-color 0.3s ease
    background: $midnight

// MOBILE DISPLAY FOR RESUME
@media (max-width: 768px) 
  hr.solid
    margin: 0.2rem 0
  .resume-wrap
    max-width: 100%
    margin: 0 auto
    padding: 0.5rem
    .cv-title
      font-size: 3rem
      margin: 0.7rem
      padding-top: 0.5rem 
  .resume-layout
    width: 100%
    padding: 0 1rem
    margin: 0
    .cv-subtitle
      font-size: 1.5rem
    .experience-title, .experience-job 
      font-size: 1.5rem
      margin: 0.3rem 0
    .date
      font-size: 1rem
      margin: 0.3rem 0
    .experience-list
      justify-self: left
      text-align: left
      font-size: 1rem
      line-height: 1.6
      list-style-type: none
  .college
    display: flex
    flex-direction: column
    .school, .dateCol
      font-size: 1rem
      text-align: left
      margin: 0.3rem 0
  .courses, .skills, .highlight-skill
    font-size: 1rem
    margin: 0
    line-height: 1.5
  .resume-download-btn
    margin: 0.5rem 0
    padding: 0.5rem 1rem
    font-size: 1rem
    width: 100%
    justify-content: center