@font-face {
  font-family: "Gopher";
  src: url("../assets/Gopher-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gopher";
  src: url("../assets/Gopher-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gopher";
  src: url("../assets/Gopher-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gopher";
  src: url("../assets/Gopher-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gopher";
  src: url("../assets/Gopher-Hairline.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.work-sec-title {
  font-family: "Gopher", sans-serif;
  text-align: left;
  font-size: 3rem;
}

.work-text {
  font-family: "Gopher", sans-serif;
  font-size: 1.3rem;
  line-height: 2;
  text-align: left;
}

@media (max-width: 768px) {
  .work-sec-title {
    font-size: 2.8rem;
  }
  .work-text {
    font-size: 1.1rem;
    line-height: 1.6;
  }
}
.carad-main-wrap {
  margin: 1rem auto;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.carad-intro {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.carad-intro img {
  height: 100%;
}
.carad-intro .carad-intro-text {
  flex-direction: column;
}

.carad-logos {
  margin: 1rem auto;
  align-content: center;
  justify-content: center;
}
.carad-logos img {
  width: 33%;
}

.carad-typo {
  margin: 1rem auto;
  align-content: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .carad-main-wrap {
    margin: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .carad-intro {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .carad-intro img {
    width: 100%;
  }
  .carad-intro .carad-intro-text {
    width: 90%;
    margin: 0 0.5rem;
    flex-direction: column;
  }
  .carad-logos {
    margin: 1rem auto;
    align-content: center;
    justify-content: center;
  }
  .carad-logos img {
    width: 33%;
  }
  .carad-typo {
    margin: 1rem auto;
    align-content: center;
    justify-content: center;
  }
}
.CE-presentation {
  margin: 0;
  max-width: 100%;
  height: 100%;
}
.CE-presentation img {
  width: 100%;
  height: auto;
}

.CE-about-wrap {
  width: 55%;
  margin: 2rem auto;
  gap: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.CE-logo-wrap {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-items: center;
  background: #fffffb;
  color: #000004;
}
.CE-logo-wrap h2 {
  padding: 1rem 0 0 0;
}

.CE-logos-text {
  width: 50%;
  margin: 1rem auto;
  gap: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.CE-logos2 {
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin: 1rem;
  gap: 1rem;
}
.CE-logos2 img {
  width: 25rem;
  height: auto;
}

.CE-colors-wrap {
  width: 60%;
  margin: 2rem auto;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.CE-colors-wrap .CE-colors-img {
  width: 50rem;
  height: auto;
}

.CE-colors-text {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.CE-typo {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.CE-typo img {
  width: 75rem;
  height: auto;
  margin: 0.5rem;
  align-self: center;
}

.CE-typo-text {
  width: 50%;
  margin: 2rem auto;
  gap: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.CE-mail {
  width: 40rem;
  margin: 2rem auto;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.CE-mail p {
  margin: 2rem 0 0 0;
  font-family: "Gopher", sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}
.CE-mail .CE-mail-img {
  width: 40rem;
  height: auto;
  margin: 0.5rem;
  justify-self: center;
  align-self: center;
}

.btn-about-proj-box {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2rem auto;
  width: 30%;
  height: auto;
}
.btn-about-proj-box .btn-about-proj {
  cursor: pointer;
  margin: 1rem auto;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 2rem;
  border: none;
  color: #000004;
  background: #E30B5D;
}
.btn-about-proj-box .btn-about-proj:hover {
  transition: color 0.3s ease;
  color: #E30B5D;
  background: #000004;
}

.CE-ending {
  width: 100%;
  background: #fffffb;
  color: #000004;
}

@media (max-width: 768px) {
  .CE-full-wrap {
    max-width: 100%;
    align-content: center;
    justify-content: center;
  }
  .CE-presentation {
    margin: 0;
    width: 100%;
  }
  .CE-about-wrap {
    flex-direction: column;
    width: 90%;
    margin: 1rem auto;
    align-content: center;
    justify-content: center;
    gap: 0;
  }
  .CE-logo-wrap {
    margin: 1rem auto;
  }
  .CE-logo-wrap .CE-logos-text {
    flex-direction: column;
    width: 90%;
    gap: 0;
    margin: 0;
  }
  .CE-logo-wrap .CE-logos2 {
    justify-content: center;
    align-content: center;
    gap: 0.5;
  }
  .CE-logo-wrap .CE-logos2 img {
    width: 50%;
    height: auto;
  }
  .CE-colors-wrap {
    width: 90%;
    margin: 1rem auto;
    justify-content: center;
    align-content: center;
    gap: 0.5;
  }
  .CE-colors-wrap img {
    max-width: 100%;
    margin: 0;
    align-self: center;
  }
  .CE-colors-wrap .CE-colors-text {
    flex-direction: column;
    width: 100%;
    align-self: center;
    margin: 0.5rem 0;
  }
  .CE-typo {
    margin: 1rem auto;
    width: 90%;
    align-content: center;
    justify-content: center;
  }
  .CE-typo img {
    width: 100%;
    margin: 1rem 0;
  }
  .CE-typo-text {
    margin: 0.5rem 0;
    flex-direction: column;
    width: 100%;
    gap: 0.3;
    align-content: center;
    justify-content: center;
  }
  .CE-mail {
    margin: 1rem auto;
    width: 90%;
  }
  .CE-mail p {
    font-size: 1.2rem;
  }
  .CE-mail .CE-mail-img {
    width: 70%;
    margin: 0.5rem auto;
  }
}
.work-disclaimer {
  width: 40%;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: "Gopher", sans-serif;
  text-align: left;
}
.work-disclaimer summary {
  cursor: pointer;
}
.work-disclaimer summary:hover {
  color: #001DD9;
}
.work-disclaimer p {
  margin: 0.5rem auto;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

@media (max-width: 768px) {
  .work-disclaimer {
    margin: auto;
    width: 90%;
  }
  .work-disclaimer p {
    line-height: 1.2rem;
  }
}
.change-btn-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5rem;
  margin: 0;
  justify-content: space-between;
  align-content: center;
  background: #fffffb;
  color: #000004;
}
.change-btn-wrap .change-btn {
  cursor: pointer;
  font-size: 1.2rem;
  background: #000004;
  border: none;
  border-radius: 4rem;
  padding: 1rem 2rem;
}
.change-btn-wrap .change-btn a {
  font-family: "Gopher", sans-serif;
  text-decoration: none;
  color: #fffffb;
}
.change-btn-wrap .change-btn:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .change-btn-wrap {
    width: 90%;
    margin: 2rem auto;
  }
  .change-btn-wrap a {
    color: #E30B5D;
  }
}
@font-face {
  font-family: "Gopher";
  src: url("../assets/Gopher-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gopher";
  src: url("../assets/Gopher-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gopher";
  src: url("../assets/Gopher-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gopher";
  src: url("../assets/Gopher-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gopher";
  src: url("../assets/Gopher-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
header {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #fffffb;
  height: 6rem;
}
.header-box a {
  color: #000004;
}

.ade-logo-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ade-logo-box a {
  font-family: "Gopher", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.05rem;
  text-decoration: none;
  color: #000004;
  padding: 2rem 0;
  font-weight: 500;
}

.left-menu {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.left-menu a {
  font-family: "Gopher", sans-serif;
  color: #000004;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem;
}
.left-menu a:hover {
  color: #ff77bc;
}

.nav-menu {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
.nav-menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.nav-menu .social-menu {
  width: 1.4rem;
  height: 1.4rem;
  margin: 1rem;
  vertical-align: middle;
  justify-content: center;
  align-content: center;
}
.nav-menu .social-menu:hover {
  color: #ff77bc;
}

.toggle-box, .mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header-box {
    width: 100%;
    position: relative;
    z-index: 1000;
  }
  .ade-logo-box {
    width: auto;
    position: static;
    transform: none;
  }
  .ade-logo-box a {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0.5rem;
    letter-spacing: 0.05rem;
  }
  .left-menu {
    display: none;
  }
  .hidden-menu, .menu-items {
    display: none;
  }
  .nav-menu {
    display: none;
  }
  .toggle-box {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 2rem;
    max-height: 2rem;
    margin-right: 0.5rem;
    overflow: hidden;
    border: none;
    background: none;
    cursor: pointer;
  }
  .menu-toggle {
    display: flex;
    cursor: pointer;
    color: #000004;
    padding: 0.5rem 0;
    width: 70%;
    font-weight: 600;
    border: none;
  }
  .mobile-menu {
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    font-family: "Gopher", sans-serif;
    align-content: center;
    justify-content: center;
    background: #ff77bc;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
  }
  .mobile-menu.active {
    display: flex;
  }
  .mobile-menu.active a {
    color: #000004;
    text-decoration: none;
  }
  .mobile-menu.active .mobile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }
  .mobile-menu.active .mobile-header a {
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
  }
  .mobile-menu.active .mobile-header .close {
    max-width: 1.5rem;
    max-height: 1.5rem;
    cursor: pointer;
  }
  .mobile-menu.active .socials-mobile {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 2rem auto;
    gap: 1.5rem;
  }
  .mobile-menu.active .socials-mobile svg {
    width: 2rem;
    height: 2rem;
    color: #000004;
  }
  .mobile-menu.active .mobile-menu-items {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 2rem auto;
    gap: 1.5rem;
    text-align: center;
  }
  .mobile-menu.active .mobile-menu-items a {
    color: #000004;
    font-size: 1.8rem;
    font-weight: 600;
  }
}
footer {
  margin: 0;
  max-width: 100%;
  padding: 1rem;
  font-family: "Gopher", sans-serif;
  color: #000004;
  background: #fffffb;
  line-height: 1.75rem;
}
footer .reach-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .reach-me div:first-child {
  text-align: center;
  margin-top: 2rem;
}
footer .reach-me a {
  color: #000004;
  align-content: center;
  justify-content: center;
}
footer .footer-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
  padding: 0 3rem;
  width: 100%;
}
footer .footer-wrap .rights-footer {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  flex: 0 0 auto;
}
footer .footer-wrap .rights-footer a {
  color: #000004;
  text-decoration: none;
}
footer .footer-wrap .rights-footer a:hover {
  opacity: 0.8;
}
footer .footer-wrap .rights-footer .cclicense {
  justify-content: center;
  align-content: center;
  width: 1.8rem;
}
footer .footer-wrap .thanks-footer {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
footer .contact-icons-wrap {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
footer .contact-icons-wrap .social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin: 2rem 1.5rem;
}
footer .contact-icons-wrap .social-icon svg {
  color: #000004;
}
footer .contact-icons-wrap .social-icon svg:hover {
  opacity: 0.8;
  color: #ff77bc;
}

@media (max-width: 768px) {
  footer {
    margin: 0;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  footer a {
    color: #fffffb;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  footer .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.7rem;
    height: 1.7rem;
  }
  footer .social-icon svg {
    display: block;
    margin: 0 auto;
  }
  footer .footer-wrap {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  footer .footer-wrap .rights-footer {
    width: 100%;
    text-align: center;
  }
  footer .footer-wrap .rights-footer .cclicense {
    width: 1.8rem;
  }
  footer .footer-wrap .thanks-footer {
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }
}
@font-face {
  font-family: "Gopher";
  src: url("../assets/Gopher-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gopher";
  src: url("../assets/Gopher-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gopher";
  src: url("../assets/Gopher-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gopher";
  src: url("../assets/Gopher-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gopher";
  src: url("../assets/Gopher-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
* {
  margin: 0 auto;
}
@media (max-width: 768px) {
  * {
    margin: 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0;
}

.main-page {
  margin: 0 auto;
  background: #000004;
  color: #fffffb;
  overflow-x: hidden;
  max-width: 100%;
  font-family: "Gopher", sans-serif;
}

.work-wrap {
  display: grid;
  max-width: 100%;
  margin: 2rem 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}

.work-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 95%;
  justify-content: center;
  align-content: center;
}
.work-card .work-box {
  position: relative;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
}
.work-card .work-box a {
  color: #001DD9;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}
.work-card .work-box::before {
  content: "";
  position: absolute;
  inset: -1rem;
  z-index: 0;
}
.work-card .work-box:hover img {
  opacity: 0.05;
}
.work-card .work-box:hover .show-text {
  opacity: 1;
}
.work-card .work-img {
  width: 100%;
  height: auto;
  display: block;
}
.work-card .show-text {
  justify-content: center;
  align-content: center;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.work-titles {
  margin: 1rem 0;
  justify-content: center;
  align-content: center;
}
.work-titles .work-name {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.work-titles .work-tag {
  font-family: "Gopher", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.view-work-btn {
  display: none;
}

@media (max-width: 768px) {
  .work-wrap {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    justify-content: center;
    align-content: center;
    margin: 1rem 0.5rem;
  }
  .work-wrap .work-card {
    justify-content: center;
    align-content: center;
    margin: 0 0 1rem 0;
    width: 90%;
  }
  .work-wrap .work-box {
    justify-content: center;
    align-content: center;
    height: auto;
    margin: 0;
  }
  .work-wrap .work-box .work-img {
    width: 100%;
    margin: 0;
  }
  .work-wrap .work-titles {
    justify-content: center;
    align-content: center;
    width: 100%;
  }
  .work-wrap .work-titles .work-name {
    font-size: 1.5rem;
  }
  .work-wrap .work-titles .work-tag {
    font-size: 1rem;
  }
  .view-work-btn {
    display: flex;
    margin: 0.8rem auto;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    background: #ff77bc;
    opacity: 1;
    font-family: "Gopher", sans-serif;
    border: none;
    cursor: pointer;
    text-align: center;
  }
  .view-work-btn a {
    color: #000004;
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: none;
  }
  .view-work-btn:hover {
    opacity: 0.7;
  }
  .show-text {
    display: none;
  }
}
.about-wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  background: #fffffb;
  color: #000004;
}
.about-wrapper .about-sec {
  width: 80%;
  display: flex;
  text-align: left;
  justify-content: left;
  align-content: flex-start;
}
.about-wrapper .profile-pic {
  -o-object-fit: contain;
     object-fit: contain;
  width: auto;
  height: 40rem;
  margin: 1rem;
}
.about-wrapper .about-text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  line-height: 1.8;
  font-size: 1.1rem;
  text-align: left;
  justify-content: left;
  align-content: center;
}
.about-wrapper .about-text p {
  margin: 0;
}
.about-wrapper .about-text .highlighted-font {
  font-weight: 900;
  font-style: italic;
}
.about-wrapper .hola {
  font-size: 4rem;
  text-align: left;
  justify-content: left;
  align-content: center;
  margin: 0;
}

.mail-me {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: #000004;
  text-decoration: none;
}
.mail-me:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  .about-wrapper .about-sec {
    width: 100%;
    flex-direction: column;
  }
  .about-wrapper .about-sec .profile-pic {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .about-wrapper .about-text {
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    letter-spacing: 0.02rem;
  }
  .about-wrapper .about-text .hola {
    font-size: 3rem;
    text-align: left;
    justify-content: left;
    margin: 0;
  }
}
hr.solid {
  border-top: 0.3px solid #001DD9;
  margin: 0.5rem 0;
}

.resume-wrap {
  max-width: 100%;
  background: #fffffb;
  color: #000004;
}

.resume-layout {
  width: 50%;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

.cv-title {
  margin: 0 0 0 4rem;
  padding-top: 2rem;
  font-family: "Gopher", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  text-align: left;
}

.cv-subtitle {
  margin: 1rem 0 0.3rem 0;
  font-family: "Gopher", sans-serif;
  font-size: 2.3rem;
  font-optical-sizing: auto;
  text-align: center;
}

.experience-title {
  font-family: "Gopher", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  text-align: left;
}

.experience-job {
  font-family: "Gopher", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
}

.experience-list {
  font-family: "Gopher", sans-serif;
  font-size: 1.1rem;
  line-height: 1.7;
  list-style-position: inside;
}

.date {
  font-size: 1rem;
  text-align: left;
  justify-content: left;
  align-content: flex-start;
}

.college {
  font-family: "Gopher", sans-serif;
  margin: 0;
  text-align: left;
}
.college .school {
  font-size: 1.1rem;
}

.courses {
  font-family: "Gopher", sans-serif;
  max-width: 600px;
  justify-self: left;
  align-self: left;
  line-height: 1.8;
  margin-left: 0.5rem;
  font-size: 1.1rem;
}
.courses a {
  color: black;
  text-decoration: none;
}
.courses a:hover {
  color: #001DD9;
}

.skills {
  justify-self: left;
  font-family: "Gopher", sans-serif;
  line-height: 1.8;
  margin-left: 0.5rem;
  font-size: 1.1rem;
}
.skills .highlight-skill {
  font-weight: 900;
  font-size: 1.2rem;
}

.resume-download-btn {
  cursor: pointer;
  margin: 1.5rem 0 3rem 0;
  padding: 1rem;
  background: none;
  border-radius: 4rem;
  border: none;
  background: #000004;
  width: 50%;
}
.resume-download-btn a {
  font-family: "Gopher", sans-serif;
  font-size: 1.1rem;
  color: #fffffb;
  text-decoration: none;
  font-weight: 600;
}
.resume-download-btn:hover {
  transition: background-color 0.3s ease;
  background: #ff77bc;
}

@media (max-width: 768px) {
  hr.solid {
    margin: 0.2rem 0;
  }
  .resume-wrap {
    max-width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
  }
  .resume-wrap .cv-title {
    font-size: 3rem;
    margin: 0.7rem;
    padding-top: 0.5rem;
  }
  .resume-layout {
    width: 100%;
    padding: 0 1rem;
    margin: 0;
  }
  .resume-layout .cv-subtitle {
    font-size: 1.5rem;
  }
  .resume-layout .experience-title, .resume-layout .experience-job {
    font-size: 1.5rem;
    margin: 0.3rem 0;
  }
  .resume-layout .date {
    font-size: 1rem;
    margin: 0.3rem 0;
  }
  .resume-layout .experience-list {
    justify-self: left;
    text-align: left;
    font-size: 1rem;
    line-height: 1.6;
    list-style-type: none;
  }
  .college {
    display: flex;
    flex-direction: column;
  }
  .college .school, .college .dateCol {
    font-size: 1rem;
    text-align: left;
    margin: 0.3rem 0;
  }
  .courses, .skills, .highlight-skill {
    font-size: 1rem;
    margin: 0;
    line-height: 1.5;
  }
  .resume-download-btn {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 100%;
    justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */