@font-face {
  font-family: "Urbanist";
  src: url("assets/Urbanist-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
}
@font-face {
  font-family: "Prata", serif;
  src: url("assets/Prata-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Oooh Baby", cursive;
  src: url("assets/OoohBaby-Regular.ttf") format("truetype");
}
.work-wrap {
  margin: 1rem 4rem;
  display: block;
  width: 1200px;
}

.work-title {
  font-family: "Oooh Baby", cursive;
  font-size: 4rem;
  text-align: center;
  font-weight: 800;
}
@media (max-width: 767px) {
  .work-title {
    font-size: 2rem;
  }
}

.work-sec-title {
  font-family: "Urbanist", sans-serif;
  text-align: left;
  font-size: 3rem;
}

.work-text {
  font-family: "Urbanist", sans-serif;
  font-size: 1.3rem;
  line-height: 2rem;
}

.CE-presentation {
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-image: url("../images/CE-logosAll.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #9185b1;
}

.CE-about {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}
@media (max-width: 767px) {
  .CE-about {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    max-width: 95%;
  }
}

.CE-logo {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.CE-logos-text {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-top: 1rem;
  gap: 1rem;
  align-items: center;
  justify-items: center;
}
@media (max-width: 767px) {
  .CE-logos-text {
    display: block;
    max-width: 95%;
  }
}

.CE-logos2 {
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin: 1rem;
  gap: 1rem;
}
.CE-logos2 img {
  width: 350px;
  height: auto;
}
@media screen and (max-width: 767px) {
  .CE-logos2 {
    width: 95%;
    height: auto;
    justify-items: center;
  }
  .CE-logos2 img {
    width: auto;
    height: 200px;
  }
}

.CE-colors {
  display: flex;
  flex-direction: row;
}
.CE-colors .work-colors-img {
  width: 600px;
  height: auto;
  margin: 1rem;
}

.CE-colors-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .CE-colors-text {
    display: block;
    max-width: 90%;
  }
}

.work-colors-img {
  width: 95%;
  height: auto;
  margin: 0.3rem 0;
}

.CE-typo {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.CE-typo img {
  width: 1200px;
  height: auto;
  margin: 0.5rem;
  align-self: center;
}
@media (max-width: 767px) {
  .CE-typo {
    margin: 1rem 0;
    width: 95%;
  }
  .CE-typo img {
    justify-self: left;
    width: 90%;
    height: auto;
    margin: 0;
  }
}

.CE-typo-text {
  display: flex;
  flex-direction: column;
}

.CE-mail {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.CE-mail h4 {
  font-family: "Urbanist", sans-serif;
  font-size: 2rem;
  margin-right: 1rem;
}
.CE-mail .CE-mail-img {
  width: 500px;
  height: auto;
  margin: 1rem;
}
@media (max-width: 767px) {
  .CE-mail {
    display: block;
    max-width: 95%;
  }
  .CE-mail .CE-mail-img {
    width: 100%;
    height: auto;
  }
}

.btn-viewBrand {
  cursor: pointer;
  margin: 1.5rem auto;
  align-self: center;
  justify-self: center;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 2rem;
  border: none;
  background: rgba(145, 133, 177, 0.7098039216);
  color: #FAF9F6;
}
.btn-viewBrand:hover {
  background: #9185b1;
  color: #2a023d;
}
@media (max-width: 767px) {
  .btn-viewBrand {
    margin: 0;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}

.work-disclaimer {
  margin: 1rem;
  font-family: "Urbanist", sans-serif;
}
.work-disclaimer p {
  font-size: 0.7rem;
  line-height: 1.5rem;
}

.change-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  width: 90%;
}
@media (max-width: 767px) {
  .change-btns {
    display: block;
    margin: 1rem auto;
  }
}

.btn-back {
  cursor: pointer;
  margin: 1rem;
  font-size: 1.2rem;
  background: none;
  border: none;
}
.btn-back a {
  text-decoration: none;
  color: #FAF9F6;
}
.btn-back a:hover {
  color: #9185b1;
}
.btn-back a::before {
  content: "";
  position: absolute;
  transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  left: 0;
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}
.btn-back a:hover::before {
  transform: scaleX(1);
  color: #2a023d;
}
@media (max-width: 767px) {
  .btn-back {
    margin: 1rem 0.2rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}

@font-face {
  font-family: "Urbanist";
  src: url("assets/Urbanist-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
}
@font-face {
  font-family: "Prata", serif;
  src: url("assets/Prata-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Oooh Baby", cursive;
  src: url("assets/OoohBaby-Regular.ttf") format("truetype");
}
header {
  width: 100%;
  margin: 0 auto;
}

.menu-header {
  background: #080101;
  color: #FAF9F6;
  display: flex;
}

.logo {
  height: 3rem;
  width: auto;
  margin: 0.5rem 1rem;
  justify-content: left;
  align-content: center;
}

.nav-menu {
  justify-content: right;
  position: relative;
  height: 2rem;
  top: 0.5rem;
}

.polygon {
  position: absolute;
  clip-path: polygon(46% 0%, 100% 0%, 100% 100%, 44% 100%);
  background: rgba(145, 133, 177, 0.7098039216);
  z-index: 9998;
  width: 25rem;
  padding: 0.6rem 1.8rem 0.6rem 25rem;
}

.menu-items {
  position: absolute;
  padding: 1rem 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0.5rem;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
.menu-items a {
  font-family: "Oooh Baby", cursive;
  text-transform: uppercase;
  color: #FAF9F6;
  font-weight: 900;
  text-decoration: none;
  padding: 0.5rem;
}
.menu-items a:hover {
  color: #2a023d;
}

.social {
  width: 1.4rem;
  height: 1.4rem;
  vertical-align: middle;
}

.menu-toggle {
  position: fixed;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 9999;
  align-self: center;
  justify-self: center;
  -o-object-fit: contain;
     object-fit: contain;
  top: 1rem;
  right: 1rem;
  display: none;
}
@media (max-width: 767px) {
  .menu-toggle {
    display: block;
    z-index: 9999;
  }
}

.menu-toggle::before, .menu-toggle::after {
  content: "";
  position: absolute;
  background: #FAF9F6;
  transition: transform 0.2s ease;
}

.menu-toggle::before {
  width: 100%;
  height: 3px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.menu-toggle::after {
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.menu-toggle.open::before {
  transform: translateY(-50%) rotate(-45deg);
}

.menu-toggle.open::after {
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
  left: 50%;
}

@keyframes slide-left-to-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-right-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@media (max-width: 767px) {
  header {
    display: flex;
  }
  .menu-toggle.open {
    height: 100vh;
    width: 90%;
    display: flex;
  }
  .nav-list {
    display: block;
    align-items: rightr;
    margin: 0;
    white-space: normal;
    padding: 0;
    gap: 0;
  }
  .nav-list.active {
    animation-name: slide-left-to-right;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  }
  .cross-opened.active .nav-list {
    display: flex;
  }
}
@font-face {
  font-family: "Urbanist";
  src: url("assets/Urbanist-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
}
@font-face {
  font-family: "Prata", serif;
  src: url("assets/Prata-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Oooh Baby", cursive;
  src: url("assets/OoohBaby-Regular.ttf") format("truetype");
}
* {
  margin: 0 auto;
}
@media (max-width: 767px) {
  * {
    margin: 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0;
}

.main-page {
  margin: 0 auto;
  background: #080101;
  color: #FAF9F6;
  overflow-x: hidden;
}
@media (max-width: 767px) {
  .main-page {
    display: block;
  }
}

.about-wrapper {
  display: flex;
  padding: 0 auto;
}
@media (max-width: 767px) {
  .about-wrapper {
    display: block;
    max-width: 100%;
  }
}

.about-text {
  display: block;
  font-family: "Urbanist", sans-serif;
  max-width: 550px;
  line-height: 1.7;
  font-size: 1.1rem;
  text-align: left;
}
@media (max-width: 767px) {
  .about-text {
    display: block;
    max-width: 90%;
    text-align: left;
    margin-left: 1rem;
  }
}

.script-font {
  font-family: "Oooh Baby", cursive;
  font-size: 1.5rem;
}

.hola {
  font-family: "Oooh Baby", cursive;
  font-weight: 500;
  font-size: 2.8rem;
  max-width: 500px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .hola {
    display: block;
    max-width: 90%;
    font-size: 2rem;
  }
}

.profile-pic {
  -o-object-fit: contain;
     object-fit: contain;
  width: auto;
  height: 600px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .profile-pic {
    width: 100%;
    height: auto;
  }
}

.section-title {
  display: flex;
  margin-left: 6rem;
  margin-top: 3rem;
  padding-bottom: 1rem;
  font-family: "Oooh Baby", cursive;
  font-weight: 650;
  font-size: 4.5rem;
}
@media (max-width: 767px) {
  .section-title {
    width: 95%;
    text-align: left;
    font-size: 2.2rem;
    margin: 0 1rem;
    padding: 1rem 0 0.2rem;
  }
}

.work-wrap {
  display: grid;
  margin-left: 5rem;
  margin-right: 5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1.5rem;
}
@media (max-width: 767px) {
  .work-wrap {
    display: block;
    margin: 0 0.5rem;
    padding: 0;
    justify-items: center;
    align-items: center;
  }
}

.project {
  overflow: visible;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 767px) {
  .project {
    margin: 2rem;
  }
}

.work-box {
  position: relative;
  width: 500px;
  height: auto;
  margin: 1rem;
  overflow: hidden;
  border-radius: 0.8rem;
  justify-items: center;
  align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 767px) {
  .work-box {
    margin: 0.5rem;
    gap: 1rem;
  }
}

.work-pic {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.work-img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  overflow: hidden;
  position: inherit;
  z-index: 100;
  transition: 0.5s ease;
}
@media (max-width: 600px) {
  .work-img {
    width: 350px;
    height: auto;
  }
}

.work-img::before {
  content: "";
  position: absolute;
  inset: -1rem;
  z-index: 0;
}

.work-img:hover img {
  opacity: 0.1;
}

.work-img:hover .show-text {
  opacity: 1;
}
@media (max-width: 600px) {
  .work-img:hover .show-text {
    opacity: 0;
  }
}

.show-text {
  font-family: "Oooh Baby", cursive;
  color: #FAF9F6;
  text-align: center;
  justify-content: center;
  align-content: center;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  font-style: oblique;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.work-name {
  font-family: "Urbanist", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .work-name {
    font-size: 1.5rem;
    text-align: left;
    margin-left: 1rem;
  }
}

.work-tag {
  font-family: "Urbanist", sans-serif;
  color: #FAF9F6;
  font-size: 1rem;
  font-style: italic;
  font-weight: 500;
  text-align: center;
}
@media (max-width: 600px) {
  .work-tag {
    font-size: 0.9rem;
    text-align: left;
    margin-left: 1rem;
  }
}

hr.solid {
  border-top: 0.3px solid #FAF9F6;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.resume-wrap {
  max-width: 900px;
  margin: 0 auto;
}
.resume-wrap ul {
  line-height: 2;
  letter-spacing: 0.02rem;
  list-style-position: inside;
}
@media (max-width: 600px) {
  .resume-wrap {
    display: block;
    width: 90%;
    text-align: left;
  }
  .resume-wrap ul {
    line-height: 1.8;
    padding: 0;
  }
}

.cv-subtitle {
  text-align: left;
  font-family: "Prata", serif;
  font-size: 2.5rem;
  font-style: italic;
  padding-bottom: 0.5rem;
  font-optical-sizing: auto;
  margin-top: 1.5rem;
}
@media (max-width: 600px) {
  .cv-subtitle {
    font-size: 1.5rem;
    padding-bottom: 0;
  }
}

.experience {
  display: grid;
  grid-template-columns: 1.3fr 2.5fr;
  grid-auto-rows: auto;
}
@media (max-width: 600px) {
  .experience {
    display: block;
    margin: 0;
    text-align: left;
  }
}
.experience .pos1 {
  grid-column: 1;
  grid-row: 1;
}
.experience .job1 {
  grid-column: 1;
  grid-row: 2;
}
.experience .date1 {
  grid-column: 1;
  grid-row: 3;
}
.experience .exp1 {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}
.experience .bar-exp2 {
  grid-column: 1/-1;
  grid-row: 4;
  width: 100%;
}
.experience .pos2 {
  grid-column: 1;
  grid-row: 5;
}
.experience .job2 {
  grid-column: 1;
  grid-row: 6;
}
.experience .date2 {
  grid-column: 1;
  grid-row: 7;
}
.experience .exp2 {
  grid-column: 2;
  grid-row: 5/8;
}
.experience .bar-exp3 {
  grid-column: 1/-1;
  grid-row: 8;
  width: 100%;
}
.experience .pos3 {
  grid-column: 1;
  grid-row: 9;
}
.experience .job3 {
  grid-column: 1;
  grid-row: 10;
}
.experience .date3 {
  grid-column: 1;
  grid-row: 11;
}
.experience .exp3 {
  grid-column: 2;
  grid-row: 9/12;
}
.experience .bar-exp4 {
  grid-column: 1/-1;
  grid-row: 12;
  width: 100%;
}
.experience .pos4 {
  grid-column: 1;
  grid-row: 13;
}
.experience .job4 {
  grid-column: 1;
  grid-row: 14;
}
.experience .date4 {
  grid-column: 1;
  grid-row: 15;
}
.experience .exp4 {
  grid-column: 2;
  grid-row: 13/16;
}

[class^=pos], [class^=job] {
  text-align: center;
  align-items: center;
  justify-items: center;
  font-size: 1.8rem;
  font-family: "Urbanist", sans-serif;
}
@media (max-width: 600px) {
  [class^=pos], [class^=job] {
    text-align: left;
    justify-items: left;
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
  }
}

[class^=pos] {
  text-transform: uppercase;
  font-weight: 800;
}

[class^=job] {
  font-style: italic;
}

[class^=exp] {
  text-align: left;
  font-family: "Urbanist", sans-serif;
}

.date {
  font-size: smaller;
  text-align: center;
  font-family: "Urbanist", sans-serif;
}
@media (max-width: 600px) {
  .date {
    line-height: 1.5;
    text-align: left;
    justify-items: left;
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
  }
}

.college {
  display: inline-flex;
  margin-left: 0.5rem;
  font-family: "Urbanist", sans-serif;
}
.college .date1 {
  text-align: right;
  font-size: 0.9rem;
  align-content: center;
  margin-left: 19rem;
}
@media (max-width: 600px) {
  .college {
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .college .date1 {
    text-align: left;
    margin-top: 0.5rem;
    margin-left: 0;
    font-size: 0.75rem;
  }
}

.courses {
  font-family: "Urbanist", sans-serif;
  max-width: 600px;
  justify-self: left;
  align-self: left;
  line-height: 2;
  margin-left: 0.5rem;
}
.courses a {
  color: #FAF9F6;
  text-decoration: none;
}
.courses a:hover {
  color: #9185b1;
}
@media (max-width: 600px) {
  .courses {
    padding: 0;
    margin: 0;
    justify-items: left;
    width: 100%;
  }
}

.skills {
  justify-self: left;
  font-family: "Urbanist", sans-serif;
  line-height: 2;
  margin-left: 0.5rem;
}
.skills .highlight-skill {
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: underline;
}
@media (max-width: 600px) {
  .skills {
    margin: 0;
    display: block;
    padding-bottom: 0;
  }
}

.resumeDownload-btn {
  cursor: pointer;
  margin: 1rem 0;
  padding: 1rem 2rem;
  background: none;
  border-radius: 4rem;
  border: 0.1rem solid #FAF9F6;
}
.resumeDownload-btn:hover {
  transition: background-color 0.3s ease;
  background: #9185b1;
  border: none;
}
.resumeDownload-btn a {
  background: none;
  font-family: "Urbanist", sans-serif;
  font-size: 1.2rem;
  color: #FAF9F6;
  text-decoration: none;
  padding: 1rem;
  font-weight: 600;
}
.resumeDownload-btn a:hover {
  transition: color 0.3s ease;
  color: #080101;
}
@media (max-width: 767px) {
  .resumeDownload-btn {
    display: block;
    padding: 0.5rem 1rem;
  }
  .resumeDownload-btn a {
    font-size: 1rem;
    align-self: center;
    justify-self: center;
  }
}

.contact-wrap {
  padding: 1rem;
  width: 100%;
}
@media (max-width: 767px) {
  .contact-wrap {
    padding: 0;
    margin: 0;
  }
  .contact-wrap .section-title .contact {
    justify-content: center;
  }
}

.contact-text {
  width: 400px;
  font-family: "Urbanist", sans-serif;
  font-size: 1.2rem;
  padding: 0 0 2rem 0;
  justify-content: space-between;
  justify-self: center;
}
@media (max-width: 600px) {
  .contact-text {
    font-size: 1rem;
    margin-left: 1.5rem;
  }
}

.contact-items {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  padding-left: 1rem;
}
@media (max-width: 600px) {
  .contact-items {
    padding-bottom: 0.5rem;
  }
}

.social-icon {
  width: 3rem;
  height: auto;
  margin-right: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
  color: #FAF9F6;
}
.social-icon:hover {
  color: #9185b1;
}
@media (max-width: 600px) {
  .social-icon {
    width: 1.5rem;
  }
}

footer {
  padding: 1rem;
  font-family: "Urbanist", sans-serif;
  font-size: 1rem;
  color: white;
  background: #080101;
  width: 100%;
  content: center;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5;
}
footer .rights-footer {
  display: block;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}
footer .myName-footer {
  font-weight: bold;
}
@media (max-width: 600px) {
  footer {
    width: 100%;
    display: block;
    font-size: 0.9rem;
    height: 10rem;
  }
  footer p {
    width: 90%;
  }
}/*# sourceMappingURL=main.css.map */