@font-face {
  font-family: "Urbanist";
  src: url("assets/Urbanist-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
}
@font-face {
  font-family: "Alice", serif;
  src: url("assets/Alice-Regular.ttf") format("truetype");
}
.work-sec-title {
  font-family: "Urbanist", sans-serif;
  text-align: left;
  font-size: 3rem;
}

.work-text {
  font-family: "Urbanist", sans-serif;
  font-size: 1.3rem;
  line-height: 2;
  text-align: left;
}

@media (max-width: 768px) {
  .work-sec-title {
    font-size: 2.8rem;
  }
  .work-text {
    font-size: 1.1rem;
    line-height: 1.6;
  }
}
.carad-main-wrap {
  margin: 5rem 3rem 2rem 3rem;
  padding: 1rem;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.carad-main-wrap .carad-intro {
  flex-direction: row;
}
.carad-main-wrap .carad-intro .carad-intro-text {
  flex-direction: column;
}

.carad-logos img {
  width: 20rem;
  height: auto;
}

.CE-presentation {
  margin: 5rem 0 1rem 0;
  max-width: 100%;
  height: 100%;
}
.CE-presentation img {
  width: 100%;
  height: auto;
}

.CE-about-wrap {
  width: 55%;
  margin: 2rem auto;
  gap: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.CE-logo-wrap {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-items: center;
  background: #FBF7F5;
  color: #00010c;
}
.CE-logo-wrap h2 {
  padding: 1rem 0 0 0;
}

.CE-logos-text {
  width: 50%;
  margin: 1rem auto;
  gap: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.CE-logos2 {
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin: 1rem;
  gap: 1rem;
}
.CE-logos2 img {
  width: 25rem;
  height: auto;
}

.CE-colors-wrap {
  width: 60%;
  margin: 2rem auto;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.CE-colors-wrap .CE-colors-img {
  width: 50rem;
  height: auto;
}

.CE-colors-text {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.CE-typo {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.CE-typo img {
  width: 75rem;
  height: auto;
  margin: 0.5rem;
  align-self: center;
}

.CE-typo-text {
  width: 50%;
  margin: 2rem auto;
  gap: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.CE-mail {
  width: 40rem;
  margin: 2rem auto;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.CE-mail h4 {
  font-family: "Urbanist", sans-serif;
  font-size: 2rem;
}
.CE-mail .CE-mail-img {
  width: 40rem;
  height: auto;
  margin: 1rem;
  justify-self: center;
  align-self: center;
}

.btn-about-proj-box {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2rem auto;
  width: 25rem;
  height: auto;
}
.btn-about-proj-box .btn-about-proj {
  cursor: pointer;
  margin: 1rem auto;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 2rem;
  border: none;
  color: #00010c;
  background: #FBF7F5;
}
.btn-about-proj-box .btn-about-proj:hover {
  background: #ff77bc;
}

@media (max-width: 768px) {
  .CE-full-wrap {
    max-width: 100%;
    align-content: center;
    justify-content: center;
  }
  .CE-presentation {
    margin: 2.7rem 0 0 0;
    width: 100%;
  }
  .CE-about-wrap {
    flex-direction: column;
    width: 90%;
    margin: 1rem 2rem;
    align-content: center;
    justify-content: center;
    gap: 0;
  }
  .CE-logo-wrap {
    margin: 1rem 0;
  }
  .CE-logo-wrap .CE-logos-text {
    flex-direction: column;
    width: 90%;
    gap: 0;
    margin: 0;
  }
  .CE-logo-wrap .CE-logos2 {
    justify-content: center;
    align-content: center;
    gap: 0.5;
  }
  .CE-logo-wrap .CE-logos2 img {
    height: 20rem;
    width: auto;
  }
  .CE-colors-wrap {
    width: 90%;
    margin: 1rem 2rem;
    justify-content: center;
    align-content: center;
    gap: 0.5;
  }
  .CE-colors-wrap img {
    max-width: 100%;
    margin: 0;
    align-self: center;
  }
  .CE-colors-wrap .CE-colors-text {
    flex-direction: column;
    width: 100%;
    align-self: center;
    margin: 0.5rem 0;
  }
  .CE-typo {
    margin: 1rem 2rem;
    width: 90%;
    align-content: center;
    justify-content: center;
  }
  .CE-typo img {
    width: 100%;
    margin: 1rem 0;
  }
  .CE-typo-text {
    margin: 0.5rem 0;
    flex-direction: column;
    width: 100%;
    gap: 0.3;
    align-content: center;
    justify-content: center;
  }
  .CE-mail {
    margin: 1rem 2rem;
    width: 90%;
  }
  .CE-mail h4 {
    font: size 1.2rem;
  }
  .CE-mail .CE-mail-img {
    width: 70%;
    margin: 0.5rem 1rem;
  }
  .btn-more-box {
    width: 50%;
  }
  .btn-more-box .btn-more {
    margin: 1rem 1.5rem;
    padding: 0.5rem 1rem;
  }
}
.work-disclaimer {
  width: 700px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: "Urbanist", sans-serif;
}
.work-disclaimer p {
  font-size: 0.7rem;
  line-height: 1.5rem;
}

@media (max-width: 768px) {
  .work-disclaimer {
    margin: 2rem;
    width: 90%;
    gap: 0;
  }
}
.change-btn-wrap {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: 5rem 2rem;
  justify-content: space-between;
  align-content: center;
}

.change-btn {
  cursor: pointer;
  font-size: 1.2rem;
  background: none;
  border: none;
}
.change-btn a {
  font-family: "Urbanist", sans-serif;
  text-decoration: none;
  color: #FBF7F5;
}
.change-btn a:hover {
  color: #ff77bc;
}

@media (max-width: 768px) {
  .change-btn-wrap {
    width: 90%;
  }
}
@font-face {
  font-family: "Urbanist";
  src: url("assets/Urbanist-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
}
header {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background: #FBF7F5;
}
.header-box a {
  color: #00010c;
}

.AD-logo {
  height: 3rem;
  width: auto;
  margin: 0.5rem 1rem 0.5rem 10rem;
  justify-content: left;
  align-content: center;
}
.AD-logo img {
  height: 100%;
  width: auto;
}

.AD-logo-index {
  height: 4rem;
  width: auto;
  margin: 0.5rem 1rem;
  justify-content: center;
  align-content: center;
}
.AD-logo-index img {
  height: 100%;
  width: auto;
}

.nav-menu {
  justify-content: center;
  align-content: center;
}

.hidden-menu {
  left: 0;
  padding: 0 8rem;
}

.menu-items {
  positiona: absolute;
  padding: 1rem 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0.5rem;
  white-space: nowrap;
  right: 0;
}
.menu-items a {
  font-family: "Urbanist", sans-serif;
  text-transform: uppercase;
  color: #00010c;
  font-weight: 800;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
}
.menu-items a:hover {
  color: #ff77bc;
}

.social {
  width: 1.4rem;
  height: 1.4rem;
  vertical-align: middle;
  justify-content: center;
  align-content: center;
}

.menu-toggle {
  display: none;
}

@keyframes slide-left-to-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-right-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body.menu-open {
    overflow: hidden;
  }
  .header-box {
    width: 100%;
    position: relative;
    z-index: 1000;
  }
  .AD-logo-index {
    width: auto;
    height: 1.7rem;
  }
  .hidden-menu, .menu-items {
    display: none;
  }
  .nav-menu {
    display: flex;
    height: 1.8rem;
    max-width: 100%;
    justify-content: space-evenly;
  }
  .toggle-box, .menu-toggle {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 3rem;
    max-height: 3rem;
    margin-right: 1rem;
    overflow: hidden;
    border: none;
    background: none;
  }
  .menu-mob-open {
    display: flex;
    cursor: pointer;
    color: #FBF7F5;
    padding: 0.5rem 0;
    width: 80%;
    font-weight: 600;
    background: #00010c;
    border: none;
  }
  .menu-mob-close {
    display: none;
  }
}
footer {
  margin: 0;
  max-width: 100%;
  padding: 3rem 0;
  font-family: "Urbanist", sans-serif;
  color: #FBF7F5;
  background: #00010c;
  line-height: 1.75rem;
}
footer .thanks-footer {
  margin: 4rem 0;
  font-size: 1.1rem;
  text-align: center;
}
footer .footer-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem 2rem;
  align-content: center;
}
footer .footer-wrap .rights-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  font-size: 0.8rem;
}
footer .footer-wrap .rights-footer a {
  color: #FBF7F5;
  text-decoration: none;
}
footer .footer-wrap .rights-footer a:hover {
  color: #ff77bc;
}
footer .footer-wrap .rights-footer .cclicense {
  justify-content: center;
  align-content: center;
  width: 1.5rem;
}
footer .footer-wrap .contact-icons-wrap {
  margin: 0;
  max-height: 3rem;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1.5rem;
}
footer .footer-wrap .contact-icons-wrap .social-icon {
  width: 2.5rem;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  color: #FBF7F5;
  align-content: center;
}
footer .footer-wrap .contact-icons-wrap .social-icon a {
  color: #FBF7F5;
}
footer .footer-wrap .contact-icons-wrap .social-icon a:hover {
  color: #ff77bc;
}

@media (max-width: 768px) {
  footer {
    margin: 0;
    width: 100%;
    padding: 1rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    line-height: 1.3rem;
    justify-content: center;
    align-content: center;
  }
  footer .thanks-footer {
    margin: 1rem 0;
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0;
  }
  footer .footer-wrap {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  footer .footer-wrap .rights-footer {
    text-align: center;
  }
  footer .footer-wrap .cclicense {
    width: 1.5rem;
    margin: 0;
  }
  footer .contact-items {
    margin: 0;
    padding: 1rem 0;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 1.5rem;
  }
  footer .contact-items .social-icon {
    width: 2rem;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    align-content: center;
  }
}
.header-proj {
  width: 100%;
  position: absolute;
}

.header-main {
  background: #00010c;
  color: #FBF7F5;
}
.header-main a {
  color: #FBF7F5;
}

@font-face {
  font-family: "Urbanist";
  src: url("assets/Urbanist-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
}
@font-face {
  font-family: "Alice", serif;
  src: url("assets/Alice-Regular.ttf") format("truetype");
}
* {
  margin: 0 auto;
}
@media (max-width: 768px) {
  * {
    margin: 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0;
}

.main-page {
  margin: 0 auto;
  background: #00010c;
  color: #FBF7F5;
  overflow-x: hidden;
  max-width: 100%;
}

.work-wrap {
  display: grid;
  max-width: 100%;
  margin: 2rem 3rem;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: auto;
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.work-card {
  display: block;
  position: relative;
  justify-content: center;
  align-content: center;
}

.work-box {
  position: relative;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
}

.work-box::before {
  content: "";
  position: absolute;
  inset: -1rem;
  z-index: 0;
}

.work-box:hover img {
  opacity: 0.1;
}

.work-box:hover .show-text {
  opacity: 1;
}

.work-pic {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.show-text {
  justify-content: center;
  align-content: center;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.show-text .work-name {
  font-family: "Urbanist", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.show-text .work-tag {
  font-family: "Urbanist", sans-serif;
  font-size: 1.1rem;
  text-align: center;
}
.show-text a {
  text-decoration: none;
  color: #FBF7F5;
}

.view-more-btn {
  margin-top: 1rem;
  padding: 0.5rem 0;
  width: 10rem;
  font-weight: 600;
  border-radius: 2rem;
  background: #ff77bc;
  opacity: 0.5;
  font-family: "Urbanist", sans-serif;
  border: none;
  cursor: pointer;
  text-align: center;
}
.view-more-btn a {
  color: #00010c;
  font-size: 0.9rem;
}
.view-more-btn:hover {
  opacity: 1;
}

.mobile-view-more-btn {
  display: none;
}

@media (max-width: 768px) {
  .work-wrap {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    margin: 1rem 0.5rem;
    gap: 0.6em;
  }
  .mobile-view-more-btn {
    display: flex;
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
    color: #FBF7F5;
    font-family: "Urbanist", sans-serif;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-content: center;
  }
  .mobile-view-more-btn a {
    text-decoration: none;
    color: #FBF7F5;
  }
  .mobile-view-more-btn:hover {
    text-decoration: underline;
  }
  .view-more-btn {
    display: none;
  }
}
.about-wrapper {
  display: flex;
  margin: 0;
  padding: 2rem 13rem;
  max-width: 100%;
  background: #FBF7F5;
  color: #00010c;
}
.about-wrapper .profile-pic {
  -o-object-fit: contain;
     object-fit: contain;
  width: auto;
  height: 40rem;
  margin: 1rem;
}
.about-wrapper .about-text {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Urbanist", sans-serif;
  width: 80%;
  line-height: 1.8;
  font-size: 1.1rem;
  text-align: left;
  justify-content: left;
  align-content: flex-start;
}
.about-wrapper .about-text p {
  margin: 0.3rem 0 0 0;
}
.about-wrapper .hola {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  text-align: left;
  justify-content: left;
  margin: 0;
}

@media (max-width: 768px) {
  .about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 2rem;
  }
  .hola {
    font-size: 3rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  .about-text {
    font-size: 1rem;
    line-height: 1.6;
  }
  .profile-pic {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
hr.solid {
  border-top: 0.3px solid #3d3d3d;
  margin: 1rem 0;
}

.resume-wrap {
  max-width: 100%;
  padding: 2rem 0;
  background: #FBF7F5;
  color: #00010c;
}

.resume-layout {
  width: 65%;
}

.experience-grid {
  display: grid;
  grid-template-columns: 1.3fr 2.3fr;
  grid-auto-rows: auto;
}
.experience-grid .experience-title {
  font-family: "Alice", serif;
  font-size: 1.7rem;
  font-weight: 800;
  text-align: left;
}
.experience-grid .experience-job {
  font-family: "Urbanist", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
}
.experience-grid .experience-list {
  font-family: "Urbanist", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  letter-spacing: 0.02rem;
  list-style-position: inside;
}
.experience-grid .pos1 {
  grid-column: 1;
  grid-row: 1;
}
.experience-grid .job1 {
  grid-column: 1;
  grid-row: 2;
}
.experience-grid .date1 {
  grid-column: 1;
  grid-row: 3;
}
.experience-grid .exp1 {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}
.experience-grid .bar-exp2 {
  grid-column: 1/-1;
  grid-row: 4;
  width: 100%;
}
.experience-grid .pos2 {
  grid-column: 1;
  grid-row: 5;
}
.experience-grid .job2 {
  grid-column: 1;
  grid-row: 6;
}
.experience-grid .date2 {
  grid-column: 1;
  grid-row: 7;
}
.experience-grid .exp2 {
  grid-column: 2;
  grid-row: 5/8;
}
.experience-grid .bar-exp3 {
  grid-column: 1/-1;
  grid-row: 8;
  width: 100%;
}
.experience-grid .pos3 {
  grid-column: 1;
  grid-row: 9;
}
.experience-grid .job3 {
  grid-column: 1;
  grid-row: 10;
}
.experience-grid .date3 {
  grid-column: 1;
  grid-row: 11;
}
.experience-grid .exp3 {
  grid-column: 2;
  grid-row: 9/12;
}
.experience-grid .bar-exp4 {
  grid-column: 1/-1;
  grid-row: 12;
  width: 100%;
}
.experience-grid .pos4 {
  grid-column: 1;
  grid-row: 13;
}
.experience-grid .job4 {
  grid-column: 1;
  grid-row: 14;
}
.experience-grid .date4 {
  grid-column: 1;
  grid-row: 15;
}
.experience-grid .exp4 {
  grid-column: 2;
  grid-row: 13/16;
}

.date {
  font-size: 1rem;
  text-align: left;
  justify-content: left;
  font-family: "Urbanist", sans-serif;
}

.cv-title {
  margin: 0 0 0.7rem 4rem;
  font-family: "Urbanist", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  text-align: left;
}

.cv-subtitle {
  text-align: left;
  font-family: "Alice", serif;
  font-size: 2.3rem;
  padding-bottom: 0.5rem;
  font-optical-sizing: auto;
  margin-top: 1.5rem;
}

.college {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  font-family: "Urbanist", sans-serif;
}
.college .school {
  justify-self: left;
  font-size: 1.1rem;
  text-align: left;
}
.college .dateCol {
  justify-self: flex-end;
  text-align: right;
  align-content: center;
}

.courses {
  font-family: "Urbanist", sans-serif;
  max-width: 600px;
  justify-self: left;
  align-self: left;
  line-height: 1.8;
  margin-left: 0.5rem;
  font-size: 1.1rem;
}
.courses a {
  color: #FBF7F5;
  text-decoration: none;
}
.courses a:hover {
  color: #E30B5D;
}

.skills {
  justify-self: left;
  font-family: "Urbanist", sans-serif;
  line-height: 1.8;
  margin-left: 0.5rem;
  font-size: 1.1rem;
}
.skills .highlight-skill {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: underline;
}

.resumeDownload-btn {
  cursor: pointer;
  margin: 1.5rem 0 3rem 0;
  padding: 1rem;
  background: none;
  border-radius: 4rem;
  border: none;
  background: #ff77bc;
}
.resumeDownload-btn:hover {
  transition: background-color 0.3s ease;
  background: #00010c;
}
.resumeDownload-btn a {
  background: none;
  font-family: "Urbanist", sans-serif;
  font-size: 1.2rem;
  color: #00010c;
  text-decoration: none;
  padding: 1rem;
  font-weight: 600;
}
.resumeDownload-btn a:hover {
  transition: color 0.3s ease;
  color: #ff77bc;
}

@media (max-width: 768px) {
  hr.solid {
    margin: 0.2rem 0;
  }
  .resume-wrap {
    max-width: 100%;
    margin: 1rem auto;
    padding: 1rem;
  }
  .resume-wrap .cv-title {
    font-size: 3rem;
    margin: 0.7rem;
    padding-top: 0.5rem;
  }
  .resume-layout {
    width: 90%;
    padding: 0 1rem;
    margin: 0;
  }
  .resume-layout .cv-subtitle {
    font-size: 1.5rem;
  }
  .experience-grid {
    display: flex;
    flex-direction: column;
  }
  .experience-grid .experience-title, .experience-grid .experience-job {
    font-size: 1.5rem;
    margin: 0.3rem 0;
  }
  .experience-grid .date {
    font-size: 1rem;
    margin: 0.3rem 0;
  }
  .experience-grid .experience-list {
    justify-self: left;
    text-align: left;
    font-size: 1rem;
    line-height: 1.4;
    list-style-type: none;
  }
  .college {
    display: flex;
    flex-direction: column;
  }
  .college .school, .college .dateCol {
    font-size: 1rem;
    text-align: left;
    margin: 0.3rem 0;
  }
  .courses, .skills, .highlight-skill {
    font-size: 1rem;
    margin: 0;
    line-height: 1.5;
  }
  .resumeDownload-btn {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}/*# sourceMappingURL=main.css.map */